#rule, #output {
  display: block;
  margin-left: auto;
  margin-right: auto;

  margin-top: 2px;

  text-align: center;

  overflow: auto;
}

.window {
  border-style: dashed;
  border-width: 1px;

  display: inline-block;
}
